
body{
    width: 100%;
    // border: 1px solid black;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.navdiv {
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: #f1f1f1;
    padding: 10px;
    .title_logo {
        position: relative;
        bottom: 6px;
        >img {
                width: 80px;
        }
        a{
            text-decoration: none;
        }
        }
     
    .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px auto;
            padding: 0 50px;
            background-color: transparent;
            vertical-align: middle;
            /// transition: all 0.3s ease;
            .navLeft{
                display: flex;
                justify-content: space-between;
                width: 100%;
                // button {
                //         padding: 0 30px;
                //         height: 30px;
                //         cursor: pointer;
                //     }
                                       
                                        /* CSS */
                #downloadButton {
                    align-items: center;
                    appearance: none;
                    background-color: #12CFB1;
                    border-radius: 4px;
                    border-width: 0;
                    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #12CFB1 0 -3px 0 inset;
                    // box-sizing: border-box;
                    color: #36395A;
                    cursor: pointer;
                    display: inline-flex; 
                    height: 30px;
                    justify-content: center; 
                    padding-left: 16px;
                    padding-right: 16px; 
                    margin-left: 20px;
                    transition: box-shadow .15s, transform .15s;  
                }

                #downloadButton:focus {
                    box-shadow: #12CFB1 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #12CFB1 0 -3px 0 inset;
                }

                #downloadButton:hover {
                    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #12CFB1 0 -3px 0 inset;
                    transform: translateY(-2px);
                }

                #downloadButton:active {
                    box-shadow: #12CFB1 0 3px 7px inset;
                    transform: translateY(2px);
                }
                
                    .menu {
                        display: flex;
                        gap: 10px;
                        // transition: 2s;
                
                        li {
                            list-style: none;
                            display: inline-block;
                            // transition: 2s;
                
                            a {
                                display: block;
                                margin-left: 25px;
                                transition: .5s;
                                letter-spacing: 2px;
                                color: black;
                                font-weight: 500;
                                text-decoration: none;
                                transition: color 0.5s, ;
                            }
                
                            a:hover {
                                color: #64D6C9;
                                text-decoration: underline;
                
                            }
                        }
                
                        @media all and (max-width:768px) {
                            display: none;
                            align-items: center;
                        }
                    }
                
                    .logo a span {
                        color: #12CFB1;
                        /// transition: all 0.3s ease;
                    }
                
                    h1 {
                        color: black;
                        // bottom: 10px;
                        font-weight: bolder;
                        font-family: poppins;
                        cursor: pointer;
                        
                        @media all and (max-width:768px) {
                            margin: auto;
                            // padding-left: 50px;
                            }
                    }
            }
            #container{ 
            display: none; 
            cursor: pointer; 
            .bar1,
            .bar2,
            .bar3 {
            background-color: black;
            width: 30px;
            height: 2px;
            margin: 6px 0px;
            transition: 0.5s;
            }
            .bar1.change {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                    margin-left: 80%;
            }
        
            .bar2.change  {
                opacity: 0;
                margin-left: 80%;
            }
        
            .bar3.change {
            -webkit-transform: rotate(45deg) translate(-05px, -03px);
            transform: rotate(45deg) translate(-05px, -03px);
            margin-left: 80%;
            }
            @media all and (max-width:768px) { 
                display: block; 
                width: fit-content; 
                margin: 0;
            }
            }
            
        }
        @media all and (max-width:768px) {
            padding: 10px 0;
            // background-color: red; 
        }

}


#typewriter2>img{
    // width: 100%;
    // padding: 50px 0;
    display: block;
    margin: auto;
    width: 80%;
}

#home {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    padding: 50px; 
    width: 85%;
    margin: auto;
    .intro {
        display: flex;
        width: 100%;
        .name {
            width: 60%; 
            padding: 30px;
                
            .homeName {
                font-size: 5rem;
                text-wrap: wrap;
                width: 50%;
            @media all and (max-width:768px) {
                font-size: 2rem;
            }
            }
        @media all and (max-width:768px) {
             width: 100%;
        }
        }
        .ppImage {
        width: 25%;
            img { 
                border-radius: 5%;
            }
        @media all and (max-width:768px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        }
    @media all and (max-width:768px) {
        display: flex; 
        flex-direction: column-reverse;
    }
    }
    @media all and (max-width:768px) {
        padding:  0;
        width: 100%;
    }
          
}
#about {
    // padding: 50px;
    padding-bottom: 0;
    padding-top: 100px;
    h1{
        width: fit-content; 
        margin-left: 15%; 
        display: block;
        position: relative;
        text-align: left;
    }
    h1::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    h1:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
        }
    >h3,
    >p {
            width: 70%;
            margin: auto;
            padding: 20px 0;
            font-family: "Poppins", sans-serif;
        }
}
#skills2{
    padding: 20px 50px; 
    padding-top: 0;
    text-align: center;
    h1{
            width: fit-content;
            margin: 20px auto;
            // padding: 20px ;
            font-family: "Poppins", sans-serif;
            display: inline-block;
            position: relative;
        }
    h1::after {
        content: '';    
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    h1:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    #skillsSection {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 120px);
        grid-template-rows: repeat(4,120px);
        justify-content: center;
        gap: 20px;
        .singleSkill{
            display: flex;
            flex-direction: column;
            align-items: center;
            // display: flex;
            // justify-content: space-around;
            border-radius: 5px;
            padding: 10px;
            transition: .5s;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            // box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            // box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                img {
                        height: 80px;
                        width: 80px;
                    }
                p{
                    position: relative;
                    top: 3px;    
                    scale:0; 
                    transition: .5s; 
                }
            &:hover {
                transform: scale(1.2);
                // transform: height(150px);
                // height: 120px;
                p {
                    scale: 1;
                    color: #0faaf1;
                }
            }        
        }
        @media all and (max-width:768px) {
        grid-template-columns: repeat(3, 100px) ;
        grid-template-rows: repeat(3,120px);
        justify-content: center;
        gap: 20px;
        }
    }
}

#projects{
    width: 80%;
    padding-top:100px ;
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
    h1 {
            width: fit-content;
            margin: 20px auto;
            // padding: 20px ;
            font-family: "Poppins", sans-serif;
            display: inline-block;
            position: relative;
        }
    h1::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #0087ca;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
    
        h1:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
  #projectSection{
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 50px; 
    .project {  
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        background-repeat: no-repeat;
        background-size: 100% 10px; 
        background-position: 0 100%;
        transition: background-size 0.25s ease-in; 
        border-radius: 10px;
        width: 100%;
        margin: auto;
        display: flex; 
        transition:  0.5s; 
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 

        .projectScreenShot {
            padding: 20px;
            width: 40%;
            gap: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 

            img {
                width: 100%;
                border-radius: 5px; 
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
            .liveLinks{
                display: flex;
                gap: 20px;
                justify-content: center;
                .gitHubLink, .liveLink{
                    display: flex;
                    background-color: white; 
                    border-radius: 25px ;
                    padding: 10px ;
                    transition: .5s;
                   
                    img{ 
                        height: 25px;
                        box-shadow: none;
                        transition: .5s;
                    }
                    p{
                        width: 0;
                        opacity: 0;
                        scale: 0;
                        transition: .5s; 
                        a{
                            text-decoration: none;
                        }
                    }
                    
                }
               
                .gitHubLink:hover,.liveLink:hover{ 
                    p{ 
                        width: 50px; 
                        padding: 0 30px 0 15px; 
                        opacity: 1 ; 
                        scale: 1;
                    }
                    
                } 
                
            }
        @media all and (max-width:768px) {
            width: 90%;
            padding-bottom: 0;
        }
        } 
        .projectDescription {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 20px; 
            transition: color .5s;
            background-color: transparent;
            .techStacks { 
                display: flex;
                justify-content: center;
                gap: 20px; 
                margin: 15px 0;
                padding: 10px; 
                border-radius: 10px;
                transition: background-color .5s;
                p{
                    display: none;
                }
                img {
                        height: 50px;
                        width: 50px;
                        transition: .5s;
                        border-radius: 10px;
                    }
                
                // img:hover {
                //     height: 55px;
                //     width: 55px; 
                // } 
            &:hover{
                background-color: white;
            }

            } 
        @media all and (max-width:768px) {
            width: 90%;
            padding-top: 0;
            h1{
                margin: 10px;
            }
        } 
        } 
    @media all and (max-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }
    .project:hover {   
         background-size: 100% 100%;  
    }
    .project.alternate {
        flex-direction: row-reverse;
    @media all and (max-width:768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    } 
  } 
  @media all and (max-width:768px) {
     padding-top:0;
     
  }
}
#statistics {
    width: 80%;
    // padding: 80px 0;
    margin: auto;
    h1{
        padding: 100px 0 0px 0 ;
        text-align: center;
        display: inline-block;
        position: relative;
    }  
    h1::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    h1:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    img{ 
        margin-top: 50px;
        width: 100%;
    } 
    .gitStats2{
        margin-top: 30px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        img{
            width: 33%;
        }
    @media all and (max-width:768px) {
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0;
        img{
            width: 100%;
        }
    }
    }
@media all and (max-width:768px) {
    img {
            margin-top: 20px; 
        }
}
}

#contact2{
    width: 80%;
    margin: 80px auto 0 auto;
    display: flex;
    padding: 40px 0 40px 0;
    gap: 40px;
    flex-direction: column;
    top: 30px;
    // height: 400px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
    h1 { 
            width: fit-content; 
            margin: auto;
            display: inline-block;
            position: relative;
        @media all and (max-width:768px) {
            margin: 0 20px; 
        }
    }
    
    h1::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    h1:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    #contactBody{
        display: flex;
        width: 100%;
            #contactLeft {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: space-evenly;
 
                span {
                    padding: 0 15px;
                    font-size: 30px;
                  
                            
            @media all and (max-width:768px) { 
            padding: 0 5px;
            } 
                }

                p {
                background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
                border-radius: 10px;
                width: 70%;
                margin: auto;
                height: 80px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                @media all and (max-width:768px) {
                        width: 100%;
                }
                }
            @media all and (max-width:768px) {
                width: 95%;
            }
            } 
            #contactRight {
                text-align: center;
                width: 50%; 
                form {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 350px;
                width: 90%;  
                    input,
                    textarea {
                        padding-left: 10px;
                        font-size: 15px;
                        border: 1px solid black;
                        border-radius: 5px; 
                        height: 40px;
                    } 
                    #message {
                        resize: none;
                        height: 100px;
                    }
                    #submit{
                        cursor: pointer;
                    }
                @media all and (max-width:768px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                }
                                       
                }
            @media all and (max-width:768px) {
                width: 95%; 
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            }
    @media all and (max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
    }
@media all and (max-width:768px) {
    gap: 20px ;
    padding: 40px 0 10px 0;
    img {
        margin: 20px;
    }
}
} 
.homeLinks{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 120px;
    gap: 20px; 
    
        #socialMedia1,
        #socialMedia2,
        #socialMedia3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            border-radius: 5px;
            padding: 20px;
            width: 80px;
            transition: .5s;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            a {
                text-decoration: none;
                transform: scaleY(0);
            }
        }

        #socialMedia1 img, 
        #socialMedia2 img,
        #socialMedia3 img{
            height: 50px;
            width: 50px;
        }
    
        #socialMedia1 p,
        #socialMedia2 p,
        #socialMedia3 p {
               position: relative;
               top: 3px;
               transition: .5s; 
               font-size: 0px;
               overflow: hidden;
        }
    
        #socialMedia1:hover p,#socialMedia2:hover p,#socialMedia3:hover p {
            transform: scaleY(1);
            color: #0faaf1;
            max-height: fit-content; 
            font-size: 20px;
            transition: .5s;
        }
        #socialMedia1:hover a,
        #socialMedia2:hover a,
        #socialMedia3:hover a {
            transform: scaleY(1); 
        }
    
@media all and (max-width:768px) {
    width: 80%;
    flex-direction: column;
    height: 500px;
     
}
}
#collabSections{
    margin: auto;
    width: 80%;
}
#footer{ 
    // width: 100%; 
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #12CFB1;
}
