* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navdiv {
  position: sticky;
  top: 0px;
  background-color: #f1f1f1;
  padding: 10px;
}
.navdiv .title_logo {
  position: relative;
  bottom: 6px;
}
.navdiv .title_logo > img {
  width: 80px;
}
.navdiv .navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0 50px;
  background-color: transparent;
  vertical-align: middle;
}
.navdiv .navbar button {
  width: 100px;
  height: 20px;
}
.navdiv .navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navdiv .navbar .menu li a {
  display: block;
  margin-left: 25px;
  letter-spacing: 2px;
  color: black;
  font-weight: 500;
}
.navdiv .navbar .menu li a:hover {
  color: #a8dff1;
}
.navdiv .navbar .logo a span {
  color: #0faaf1;
}
.navdiv .navbar h1 {
  color: black;
  bottom: 10px;
  font-weight: bolder;
  font-family: cursive;
  cursor: pointer;
}

#typewriter2 > img {
  display: block;
  margin: auto;
}

#home {
  padding: 50px;
  background-color: gold;
  width: 85%;
  margin: auto;
}
#home .intro {
  display: flex;
}
#home .intro .name {
  width: 75%;
  background-color: red;
  padding: 30px;
}
#home .intro .name .typewriter {
  font-size: 20px;
  margin: 50px auto;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
#home .intro .name .homeName {
  font-size: 80px;
}
#home .intro .ppimage {
  width: 25%;
  background-color: yellow;
}

#about {
  padding: 50px;
}
#about > h1,
#about > h3,
#about > p {
  width: 70%;
  margin: auto;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
}

#skills {
  padding: 20px 50px;
  text-align: center;
}
#skills > h1 {
  width: 70%;
  margin: auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
#skills #skillsSection {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px;
  justify-content: center;
  gap: 20px;
}
#skills #skillsSection .singleSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#skills #skillsSection .singleSkill img {
  height: 80px;
  width: 80px;
}
#skills #skillsSection .singleSkill p {
  position: relative;
  top: 3px;
  scale: 0;
  transition: 0.5s;
}
#skills #skillsSection .singleSkill:hover p {
  scale: 1;
  color: #0faaf1;
}
#skills #skillsSection div:hover {
  transform: scale(1.2);
}

#projects {
  width: 80%;
  margin: auto;
}
#projects .project {
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  border: 1px solid black;
  height: 250px;
}
#projects .project .projectScreenShot {
  width: 40%;
  background-color: gold;
}
#projects .project .projectDescription {
  width: 60%;
  background-color: aqua;
}
#projects .project.alternate {
  flex-direction: row-reverse;
}

#gitStats {
  width: 80%;
  margin: auto;
}
#gitStats img {
  width: 100%;
}

#contact {
  width: 80%;
  margin: auto;
  display: flex;
  height: 400px;
}
#contact input {
  border-radius: 3px;
  border: 1px solid black;
  height: 40px;
}
#contact #contactLeft {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}
#contact #contactLeft span {
  padding: 0 15px;
  font-size: 30px;
}
#contact #contactLeft p {
  width: 70%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
#contact #contactRight {
  text-align: center;
  width: 50%;
}
#contact #contactRight form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 90%;
}
#contact #contactRight form input, #contact #contactRight form textarea {
  padding-left: 10px;
}
#contact #contactRight form #message {
  resize: none;
  height: 100px;
}

.homeLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 2s;
}
.homeLinks .iconBG {
  padding: 10px;
  width: 50px;
  display: flex;
  transition: 2s;
}
.homeLinks .iconBG .userHandle {
  display: none;
  position: relative;
  top: 3px;
  transform: scale(0);
  transition: 5s;
}
.homeLinks .iconBG .homeIcon {
  color: red;
  width: 45px;
}
.homeLinks .iconBG:hover .userHandle {
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: 5s;
}
.homeLinks .iconBG:hover {
  width: -moz-fit-content;
  width: fit-content;
  transform: scale(1);
  transition: 5s;
}/*# sourceMappingURL=index.css.map */